{{!< default}}

<div class='c-hero' style='background-image: url({{ @blog.cover }})'>
  <div class='c-hero__content'>
    <div class='c-hero__description'>
      <h2>404</h2>
      <p>Page Not Found</p>
    </div>
  </div>
</div>

<div class='o-wrapper'>

  <div class='o-grid'>
    {{#get 'posts' limit='6' include='author, tags'}}
      <div class='o-grid__col o-grid__col--full'>
        <h4 class='u-left'>Recent Posts</h4>
        <a href='{{ @blog.url }}' class='u-right u-font-medium'>Home Page &#x27A3;</a>
      </div>
      {{#foreach posts}}
        {{> post-card }}
      {{/foreach}}
    {{/get}}
  </div>

</div>