/*------------------------------------*\
  Components > Footer
\*------------------------------------*/

.c-footer {
  padding: $base-spacing-unit 0;
  background-color: $bg-gray;
  border-top: 1px solid $color-border;
}