<footer class='c-footer'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--full'>

      <div class='u-text-center'>
        <span class='u-font-small u-font-sans-serif'>&copy; {{ date format='YYYY' }} {{ @blog.title }}</span>
      </div>

    </div>
  </div>
</footer>