{{#if next}}
  <div class='o-grid__col o-grid__col--full u-text-center'>
    <div class='c-pagination'>
      <button class='c-btn c-btn--radius js-load-posts'>Load More</button>
    </div>
  </div>
{{/if}}