<div class='c-subscribe'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col o-grid__col--3-4-m o-grid__col--3-4-l o-grid__col--center'>
      <div data-icon='ei-envelope' data-size='m' class='c-subscribe__icon'></div>
      <h5>Join the newsletter to receive the latest updates in your inbox.</h5>
      {{  subscribe_form
          form_class='c-subscribe-form'
          input_class='c-subscribe-form__input'
          placeholder='Enter your email'
          button_class='c-subscribe-form__btn c-btn c-btn--full'
      }}
    </div>
  </div>
</div>

<hr>