{{#tag}}
  <div class='c-tag-hero' style='background-image: url({{ image }})'>
    <div class='c-tag-hero__content'>
      <h2 class='c-tag-hero__name'>{{ name }}</h2>
      <p class='c-tag-hero__description'>
        {{ description }}
      </p>
    </div>
  </div>
{{/tag}}